<div class="container">
  <div class="row-space"></div>
  <div class="categories-container">
    <!-- Category 1 -->
    <div class="category">
      <div class="category-header">
        Groceries 🛒
      </div>
      <div class="item-card" *ngFor="let item of Grocery">
        <div class="item-row">
          <span>{{ item.name }}</span><span> {{ item.unit }}</span><span> {{ item.qty }}</span>
          <div class="item-buttons">
            <button class="btn edit" (click)="autoSave(item)">Edit</button>
            <button class="btn delete" (click)="deleteItemByIndex(item.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Category 2 -->
    <div class="category">
      <div class="category-header">
        Vegetables & Fruits 🍎🌾
      </div>
      <div class="item-card" *ngFor="let item of Fruits_Vegetables">
        <div class="item-row">
          <span>{{ item.name }}</span><span> {{ item.unit }}</span><span> {{ item.qty }}</span>
          <div class="item-buttons">
            <button class="btn edit" (click)="autoSave(item)">Edit</button>
            <button class="btn delete" (click)="deleteItemByIndex(item.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Category 3 -->
    <div class="category">
      <div class="category-header">
        Dairy & Bakery 🍞🥛
      </div>
      <div class="item-card" *ngFor="let item of Dairy_Beverages_Bakery">
        <div class="item-row">
          <span>{{ item.name }}</span><span> {{ item.unit }}</span><span> {{ item.qty }}</span>
          <div class="item-buttons">
            <button class="btn edit" (click)="autoSave(item)">Edit</button>
            <button class="btn delete" (click)="deleteItemByIndex(item.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Category 4 -->
    <div class="category">
      <div class="category-header">
        Household & Miscellaneous 🛒🏡
      </div>
      <div class="item-card" *ngFor="let item of Household_Cleaning">
        <div class="item-row">
          <span>{{ item.name }}</span><span> {{ item.unit }}</span><span> {{ item.qty }}</span>
          <div class="item-buttons">
            <button class="btn edit" (click)="autoSave(item)">Edit</button>
            <button class="btn delete" (click)="deleteItemByIndex(item.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>