<div class="parent">
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

		<div class="signup">
			<form  #f="ngForm" (ngSubmit)="onSignup()">
				<label for="chk" aria-hidden="true">REGISTRATION</label>
				<input type="text" name="first_name" [(ngModel)]="user.first_name" placeholder="Firstname" required />
				<input type="text" name="username" [(ngModel)]="user.username" placeholder="Username" required />
				<input type="email" name="email" [(ngModel)]="user.email" type="email" placeholder="Email" required />
				<input type="password" name="password" [(ngModel)]="user.password" type="password" placeholder="Password" required
					minlength="6" />
				<button type="submit">Sign up</button>				
			</form>
			<div class="error_msg" *ngIf="error" style="color:red">{{ error}}</div>
		</div>

		<div class="login">
			<form #f="ngForm" (ngSubmit)="onSignin()" >
				<label for="chk" aria-hidden="true" (click)="onLoginload()">LOGIN</label>
				<input name="email" [(ngModel)]="credentials.email" type="email" placeholder="Email" required>
				<input name="password" [(ngModel)]="credentials.password" type="password" placeholder="Password" required>
				<button type="submit">Login</button>
			</form>
			<div class="error_msg" *ngIf="error" style="color:red">{{ error }}</div>
		</div>
	</div>
</div>