<div class="container">
      <h6><b>ITEMS LIST - <span>{{CURRENT | date: 'MMM yyyy' | uppercase}} </span></b></h6>
  <div class="row-space"></div>
  <div class="categories-container">
    <!-- Category 1 -->
    <div class="category">
      <div class="category-header">
        Groceries 🛒
      </div>
      <div class="item-card" *ngFor="let item of Grocery">
        <div class="item-row">
          <span [class.purchased]="item.purchased">
            {{ item.item_name }} {{ item.qty }} {{ item.unit }}
          </span>
          <div class="item-buttons">
            <input type="checkbox" [checked]="item.purchased" (change)="togglePurchased(item)">
            <button class="btn delete" (click)="deleteItemByIndex(item.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Category 2 -->
    <div class="category">
      <div class="category-header">
        Vegetables & Fruits 🍎🌾
      </div>
      <div class="item-card" *ngFor="let item of Fruits_Vegetables">
        <div class="item-row">
         <span [class.purchased]="item.purchased">
            {{ item.item_name }} {{ item.qty }} {{ item.unit }}
          </span>
          <div class="item-buttons">
            <input type="checkbox" [checked]="item.purchased" (change)="togglePurchased(item)">
            <button class="btn delete" (click)="deleteItemByIndex(item.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Category 3 -->
    <div class="category">
      <div class="category-header">
        Dairy & Bakery 🍞🥛
      </div>
      <div class="item-card" *ngFor="let item of Dairy_Beverages_Bakery">
         <div class="item-row">
         <span [class.purchased]="item.purchased">
            {{ item.item_name }} {{ item.qty }} {{ item.unit }}
          </span>
          <div class="item-buttons">
            <input type="checkbox" [checked]="item.purchased" (change)="togglePurchased(item)">
            <button class="btn delete" (click)="deleteItemByIndex(item.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Category 4 -->
    <div class="category">
      <div class="category-header">
        Household & Cleaning 🛒🏡
      </div>
      <div class="item-card" *ngFor="let item of Household_Cleaning">
         <div class="item-row">
         <span [class.purchased]="item.purchased">
            {{ item.item_name }} {{ item.qty }} {{ item.unit }}
          </span>
          <div class="item-buttons">
            <input type="checkbox" [checked]="item.purchased" (change)="togglePurchased(item)">
            <button class="btn delete" (click)="deleteItemByIndex(item.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Category 5 -->
    <div class="category">
      <div class="category-header">
        Miscellaneous 🛒🏡
      </div>
      <div class="item-card" *ngFor="let item of Miscellaneous">
         <div class="item-row">
         <span [class.purchased]="item.purchased">
            {{ item.item_name }} {{ item.qty }} {{ item.unit }}
          </span>
          <div class="item-buttons">
            <input type="checkbox" [checked]="item.purchased" (change)="togglePurchased(item)">
            <button class="btn delete" (click)="deleteItemByIndex(item.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>